.site-header {
  /* background-color: #0a244d; */
  color: #d4af37;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: right;
  /* border-bottom: 20px solid #d4af37; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100 */
  background: #fefcea; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #fefcea 0%,
    #f1da36 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #fefcea 0%,
    #f1da36 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #fefcea 0%,
    #f1da36 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
img {
  width: 70x;
  height: 70px;
  object-fit: cover;
}
