/* .site-header { */
  /* background-color: #0a244d; */
  /* color: #000000; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* border-bottom: 20px solid #d4af37; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100 */
  /* background: #fefcea; Old browsers */
  /* background: -moz-radial-gradient( */
    /* center, */
    /* ellipse cover, */
    /* #fefcea 0%, */
    /* #f1da36 100% */
  /* ); FF3.6-15 */
  /* background: -webkit-radial-gradient( */
    /* center, */
    /* ellipse cover, */
    /* #fefcea 0%, */
    /* #f1da36 100% */
  /* ); Chrome10-25,Safari5.1-6 */
  /* background: radial-gradient( */
    /* ellipse at center,/ */
    /* #fefcea 0%, */
    /* #f1da36 100% */
  /* ); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); IE6-9 fallback on horizontal gradient */
/* } */
img {
  width: 55px;
  height: 55px;
  /* object-fit: cover; */
  position: left;
}
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(192, 45, 26);
  color: #ffffff;
}
.header {
  /* background-color: #000000; */
  display: flex;
  align-items: center;
  /* position: relative; */
  /* text-align: left; */
  padding: 50px;
  left: 50%;
}
  